/* 公共样式 */
.clearfix::before,
.clearfix::after{
	content: '';
	display: table;
	clear: both;
}

body{
	font:  14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	/* color: #b0b0b0; */
	/* 容器最小宽度，避免内容溢出 以为容器宽度是1226px */
	min-width: 1226px;
}

/* 设置一个类 用来表示中间容器的宽度 */
.w{
	/* 设置容器宽度 */
	width: 1226px;
	/* 设置容器居中居中 */
	margin: 0 auto;
	/* padding: 12px; */
	
}

